// body {
//     font-family: Arial, Helvetica, sans-serif;
//     background-color: black;
//   }
//   /* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
//background-image:  url('../rtype/hotel.jpg');
font-family: 'Numans', sans-serif;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
width: 100%;
overflow: hidden;
position: absolute;
text-align: center;

}

.container{
height: 100%;
align-content: center;

}
.login .form-control{
  background-color: #ddd;
  color: black;
}
.login .input-group-prepend
{
  background-color: #ddd;
  color: black;
}
.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: rgb(15, 12, 182);
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: rgb(6, 120, 155);
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: rgb(45, 155, 206);
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
footer{
    
}
  // * {
  //   box-sizing: border-box;
  // }
  
  /* Add padding to containers */
  .container {
    padding: 1px;
    background-color:transparent;
  }
  
  /* Full-width input fields */
  // input[type=text], input[type=password] {
  //   width: 100%;
  //   padding: 15px;
  //   margin: 5px 0 22px 0;
  //   display: inline-block;
  //   border: none;
  //   background: transparent;
  // }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: purple;
    color: turquoise;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }