@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Features
7. Gallery
8. About
9. Testimonials
10. Booking
11. Blog
12. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

/*********************************
12. Footer
*********************************/

.footer
{
	
	padding-top: 81px;
}
.footer_content
{
	padding-bottom: 52px;
}
.footer_logo
{
	display: inline-block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.footer_logo > div:first-of-type
{
	width: 235px;
	height: 74px;
	border: solid 3px #0e0404;
	font-size: 43.32px;
	font-weight: 600;
	color: #0c0101;
	line-height: 68px;
}
.footer_logo > div:last-of-type
{
	font-size: 16px;
	font-weight: 600;
	color: #0a0202;
	line-height: 0.75;
	margin-top: 15px;
}
.footer_logo a
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.footer_row
{
	margin-top: 74px;
}
.footer_title
{
	font-size: 18px;
	font-weight: 700;
	color: #0c0909;
	line-height: 1.2;
}
.footer_list
{
	margin-top: 9px;
}
.footer_list ul li
{
	font-size: 15px;
	font-weight: 500;
	color: #080000;
	line-height: 2;
}

.container{
    position: relative;
	max-width: 600px;
    max-height: 800px;
    -webkit-text-fill-color: aliceblue;
	width: 100%;
	height: 100%;
	border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
   
    
    }