
<footer class="footer">
		<div class="footer_content">
			<div class="container">
				
				<div class="row footer_row">
					
					<div class="col-lg-3">
						<div class="footer_title">Our Address</div>
						<div class="footer_list">
							<ul>
								<li>Beach Str. 345</li>
								<li>675 Pretoria SA</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="footer_title">Contact us</div>
						<div class="footer_list">
							<ul>
								<li>Tel: 015 5667 889</li>
								<li>Fax; 6783 4567 889</li>
								<li>Rolei.com</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="certificates d-flex flex-row align-items-start justify-content-lg-between justify-content-start flex-lg-nowrap flex-wrap">
							<div class="cert"><img src="assets/images.jpg" alt=""></div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</footer>