<div class="row">
    <div class="col-75">
      <div class="container">
       
        
          <div class="row">
            <div class="col-50">
                <div class="input-grp"></div>
                <p>Departing :{{Departing}}</p>
                <p>Flying from :{{Flyingfrom}}</p>
                <p>Flying to :{{flyingto}}</p>
                <p>Returning :{{Returning}}</p>

<table style="width:100%">

  <tr>

    <th>firstname</th>
    <td>{{firstname}}</td>
</tr>
<tr>
    <th>Email</th>
    <td>{{email}}</td>
</tr>   
<tr>
    <th>city</th>
    <td>{{city}}</td>

</tr>
<tr>
    <th>state</th>
    <td>{{state}}</td>
</tr>
<tr> 
    <th>zip</th>
    <td>{{zip}}</td>
</tr>
<tr>
    <th>cname</th>
    <td>{{cname}}</td>
</tr> 

<tr>
        <th>ccnum</th>
        <td>{{ccnum}}</td>
    </tr> 

    <tr>
            <th>expmonth</th>
            <td>{{expmonth}}</td>
        </tr> 

        <tr>
                <th>expyear</th>
                <td>{{expyear}}</td>
            </tr> 

            <tr>
                    <th>cvv</th>
                    <td>{{cvv}}</td>
                </tr> 

</table>
</div>
</div>

</div>
</div>
</div>




